
    <nav class="navbar navbar-expand-lg navbar-dark">
      <img src ="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR98xsHSk07iIHLDZ6RL41kqCHhYNV2RJ6_9cm4fySHTKnBy7Rq" width= "50">
      <a class="navbar-brand" href="#">Github Search</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search">
          <button type="button" class="btn btn-info"type="submit">Search</button>
      
        </form>
      </div>
    </nav>